In [30]:
import pandas as pd
import os

In [31]:
national_history_df = pd.read_csv("../Data/national-history.csv")
national_history_df.head()

,date,death,deathIncrease,inIcuCumulative,inIcuCurrently,hospitalizedIncrease,hospitalizedCurrently,hospitalizedCumulative,negative,negativeIncrease,onVentilatorCumulative,onVentilatorCurrently,positive,positiveIncrease,states,totalTestResults,totalTestResultsIncrease
0,12/23/2020,317492,3393,35695,22489,4795,119463,554087,56743142,304962,3579,7819,18367212,224526,56,241223878,1791481
1,12/22/2020,314099,3137,35428,22213,4567,117777,549292,56438180,268046,3554,7830,18142686,193008,56,239432397,1770133
2,12/21/2020,310962,1480,35178,21884,3111,115358,544725,56170134,439796,3539,7783,17949678,179406,56,237662264,1974590
3,12/20/2020,309482,1668,35030,21763,2382,113601,541614,55730338,249266,3530,7695,17770272,197494,56,235687674,1821629
4,12/19/2020,307814,2708,34949,21692,3429,113914,539232,55481072,200763,3529,7786,17572778,204873,56,233866045,1859539

In [32]:
# national_history_df.list(columns)
list(national_history_df.columns)

['date',
 'death',
 'deathIncrease',
 'inIcuCumulative',
 'inIcuCurrently',
 'hospitalizedIncrease',
 'hospitalizedCurrently',
 'hospitalizedCumulative',
 'negative',
 'negativeIncrease',
 'onVentilatorCumulative',
 'onVentilatorCurrently',
 'positive',
 'positiveIncrease',
 'states',
 'totalTestResults',
 'totalTestResultsIncrease']

In [33]:
covid_data_columns_df = national_history_df[['date','death', 'deathIncrease', 'hospitalizedIncrease','hospitalizedCurrently','negative','negativeIncrease', 'positive', 'positiveIncrease','totalTestResults','totalTestResultsIncrease']]
covid_data_columns_df

,date,death,deathIncrease,hospitalizedIncrease,hospitalizedCurrently,negative,negativeIncrease,positive,positiveIncrease,totalTestResults,totalTestResultsIncrease
0,12/23/2020,317492,3393,4795,119463,56743142,304962,18367212,224526,241223878,1791481
1,12/22/2020,314099,3137,4567,117777,56438180,268046,18142686,193008,239432397,1770133
2,12/21/2020,310962,1480,3111,115358,56170134,439796,17949678,179406,237662264,1974590
3,12/20/2020,309482,1668,2382,113601,55730338,249266,17770272,197494,235687674,1821629
4,12/19/2020,307814,2708,3429,113914,55481072,200763,17572778,204873,233866045,1859539
...,...,...,...,...,...,...,...,...,...,...,...
122,8/23/2020,168948,577,698,39064,25280953,128482,5660019,37900,79770311,725718
123,8/22/2020,168371,1035,1604,40017,25152471,226652,5622119,46033,79044593,908182
124,8/21/2020,167336,1119,1782,41052,24925819,254673,5576086,46477,78136411,915434
125,8/20/2020,166217,1129,1983,42109,24671146,208472,5529609,43844,77220977,864210
126,8/19/2020,165088,1411,1983,43406,24462674,243232,5485765,45073,76356767,832115

In [34]:
covid_data_columns_df.dtypes

date                        object
death                        int64
deathIncrease                int64
hospitalizedIncrease         int64
hospitalizedCurrently        int64
negative                     int64
negativeIncrease             int64
positive                     int64
positiveIncrease             int64
totalTestResults             int64
totalTestResultsIncrease     int64
dtype: object

In [38]:
covid_data_columns_df.to_csv(r'COVID_DATA_COLUMNS.csv')